li{
	list-style-type: none;
	padding-left:30px;
	display: inline;
}

a{
	text-decoration: none;
	color:black;
}

#abstract{
	width: 600px;
	float: right;
	text-align: justify;
}

ul{
	border:1px solid black;
}

#formulaire{
	display:block;
}

#map{
	float:left;
}

#copyright{
	display:block;
}

footer{
	clear:both;
}